/* ** REGOLE GENERALI** */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ** REGOLE DI DEBUG ** */

[class*="col-"] {
  height: 100%;
  /* border: 1px solid black; */
  text-align: center;
  /* height: 100px; */
}

.row {
  /* background-color: pink; */
}

section {
  /* margin-bottom: 40px 0; */
  /* background-color: blue; */
}

header {
  /* background-color: green; */
  /* height: 100px; */
}

footer {
  background-color: red;
  /* height: 100px; */

}

#contatti [class*="col-"] {
  height: auto;
}

/* *** HEADER *** */

header .navbar-default .navbar-nav > li > a {
  color: green;
}

header .navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
  color: blue;
}
/* header .navbar-default {
  background-color: transparent;
} */

  /* * Navbar * */

header .nav-style {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  background-color: rgb(44, 62, 80);
  height: 75px;
}

/*  * Jumbotron *  */

#jumbotron {
  background-color: rgb(26, 188, 156);
  margin-top: 75px;
  padding: 80px;

}

.avatar {
  width: 18rem;
}

/* **SEZIONE CONTATTI ** */

#contatti .form-group input,
#contatti .form-group textarea {
  border: none;
  border-bottom: solid 1px #ccc;
  background-color: pink;
  box-shadow: none;
}
#contatti .btn-default {
  color: green;
}
