/* ** REGOLE GENERALI** */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ** REGOLE DI DEBUG ** */

[class*="col-"] {
  height: 100%;
  border: 1px solid black;
  text-align: center;
  height: 100px;
}

.row {
  background-color: pink;
}

section {
  margin-bottom: 40px 0;
  /* background-color: blue; */
}

header {
  background-color: green;
  /* height: 100px; */
}

footer {
  background-color: red;
  /* height: 100px; */

}

#contatti [class*="col-"] {
  height: auto;
}

/* **SEZIONE CONTATTI ** */

#contatti .form-group input,
#contatti .form-group textarea {
  border: none;
  border-bottom: solid 1px #ccc;
  background-color: pink;
  box-shadow: none;
}
#contatti .btn-default {
  color: green;
}
